 /* Gallery */
.gallery-grid {
  display: grid;
  text-align: center;
  gap: 10px;
}

.gallery-grid img {
  width: 100%;
}

.remove-image {
  left: 40%;
  bottom: -10%;
  border-radius: 10em;
  padding: 2px 6px 3px;
  text-decoration: none;
  font: 700 1.2em/2em sans-serif;
  background: #555;
  border: 3px solid #fff;
  color: #FFF;
  cursor: pointer;
  
}

.remove-image:hover {
  background: red;
  padding: 3px 7px 5px;
  cursor: pointer;
}

/* Error message */

.gallery-error {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-error h1 {
  color: white;
  font-size: 2rem;

}

.gallery-error a {
  color: rgb(139, 147, 244);
  text-decoration: underline;
  font-size: 2rem;
  margin: 1rem;
}

/* Media queries */

@media screen and (max-width: 300px) {

  .gallery-grid {
    grid-template-columns: 1fr;
  }

  .gallery-grid img {
    width: 90%;
    overflow: hidden;
  }

  .remove-image {
    position: relative;
    left: 40%;
    bottom: -10%;
  }

  .navbar span {
    display: none;
  }

}

@media screen and (min-width: 301px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr;

  }

  .gallery-grid img {
    width: 80%;
  }

  .remove-image {
    position: relative;
    left: 40%;
    bottom: -10%;
  }
}

@media screen and (min-width: 600px) {
  .gallery-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .gallery-grid img {
    width: 80%;
  }

  .remove-image {
    position: relative;
    left: 40%;
    bottom: -10%;
  }
}